/* STYLES.CSS */
/* Main stylesheet for the site */

body{
    position: relative;
}

*{
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

p{
    padding: 20px;
}

.navbar{
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.2em;
}

.dropdown .dropdown-menu{
    background: transparent;
    color:white;
    border:none;
    box-shadow: none;
}

.dropdown .dropdown-menu a{
    color:gray;
    font-size: 1.2em;
}

.dropdown .dropdown-menu a:hover{
    color:white;
    text-decoration: none;
    cursor: pointer;
}

.dropdown .list-group-item{
    background-color:black;
}

.dropdown .list-group-item:hover{
    background-color:gray;
    cursor:pointer;
}

.vertical-alignment-helper{
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}

.modal-content{
    color: black;
    width:inherit;
    max-width:inherit;
    margin: 0 auto;
    pointer-events: all;
}

.overlay-container{
    position:relative;
}

.overlay{
    position:absolute;
    width: 100%;
    height:100%;
    opacity:0;
    left:0;
    right:0;
    top:0;
    margin:auto;
    transition: 1s ease;
    vertical-align: middle;
}

.ov-clr-purple{
    background:rgba(147,112,219,.75);
}

.ov-clr-white{
    background:rgba(0,0,0,.7)
}

.overlay-container:hover .overlay{
    opacity:1;
    cursor:pointer;
}

.overlay-content{
    color:white;
    position:relative;
    padding-top:20%;
    padding-left:10%;
    padding-right:10%;
}

h1{
    text-align: center;
    padding-bottom:50px;
}

h2{
    text-align: center;
}

p{
    font-size: 1.2em;
    padding-left:50px;
    text-align: center;
}
img{
    display: block;
    max-height: 100%;
    max-width: 100%;
    opacity: inherit;
    margin:auto;
}

#home{
    height:100vh;
    width:100vw;
    padding:40vh;
    color:#fff;
    background-color: black;
    border-bottom-style: solid;
    border-color: gray;
}

.content-section {
    padding-top: 10vh;
    height: 100vh;
    width: 100vw;
    text-align: center;
    background-color: black;
    color: white;
}

.content-img-row {
    display: flex;
    height: 100%;
}

.content-img-col {
    flex: 50%;
    padding: 0px;
}

#composition {
    background-color: white;
    color: black;
}

#footer {
    height:20vh;
}